*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {

    background-color: rgba(43, 73, 240, 0.932);

}

main{
    background-color: rgba(241, 243, 115, 0.89);
    width: auto;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.541);
}

img.lado{
    float: right
}
img.lado{
    float: right
}
